.services
    background-color: #EBEBEB
    // height: 1242px
    padding: 148px 0 132px 0
    &__header
        font-family: Lato
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 33px
        color: #BDBDBD
    &__subheader
        font-family: Merriweather
        font-style: normal
        font-weight: 900
        font-size: 48px
        line-height: 69px
        color: #333333
.cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between;
    margin-top: 72px
    &__item
        display: flex;
        align-content: end
        margin-top: 20px;
        padding: 20px;
        width: 18vw
        height: 18vw
        align-items: flex-end;
        background: url(../img/services/card_img.png) center center/cover no-repeat
    &__text
        font-family: Lato
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        width: 50%

