.services
    background-color: #EBEBEB
    padding: 148px 0 132px 0
    &__header
        font-family: Lato
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 33px
        color: #BDBDBD
    &__subheader
        font-family: Merriweather
        font-style: normal
        font-weight: 900
        font-size: 48px
        line-height: 69px
        color: #333333
.cards
    display: grid
    // flex-wrap: wrap
    // justify-content: space-between;
    margin-top: 72px
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))
    grid-template-rows: repeat(2,minmax(260px, auto))
    grid-auto-rows: minmax(260px, auto)
    gap: 10px
    &__item
        display: flex  
        align-items: flex-end
        text-align: right
        padding: 20px
        // display: flex;
        // align-content: end
        // margin-top: 20px;
        // padding: 20px;
        // width: 260px
        // height: 260px
        // align-items: flex-end;
        background: url(../img/services/card_img.png) center center/cover no-repeat
    &__text
        font-family: Lato
        font-style: normal
        font-weight: 900
        font-size: 24px
        line-height: 30px
        color: #FFFFFF
        // width: 50%

