.first-screen
    margin-top: 30px
    height: 670px
    background: url(../img/carousel/carousel01.jpg) center center/cover no-repeat
    &__context
        .h1
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 66px;
            color: #FFFFFF;
            display: block
            padding-top: 170px
        .button
            margin-top: 80px
.slider_white
    .slick-next, .slick-prev
        background: rgba(255, 255, 255, 0.6)
        .btn_arrow_right, .btn_arrow_left
            color: #fff
            opacity: 1
    .dots-style
        .slick-active
            button
                background: #fff
                opacity: 1
        li
            button
                background: #fff
                opacity: .4
