$blue: #005FA3
$white: #ffffff
$black: #000000
$gray: #BDBDBD
$red: #ec0d0dbd
$green: #31da22
$brown: #ec8b0dbd

.container
    display: block
    width: 57vw
    height: 100%
    margin: 0 auto

.h1
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    color: $white
    display: block
    &--p50
        padding-top: 50px

.button
    margin-top: 30px;
    background-color: rgba(255,255,255, 0.2)
    display: block
    width: 270px
    height: 60px
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF
    border: none
    border-radius: 5px
    &:focus
        outline: none
    &_header
        margin-top: 80px
    &--white
    margin-top: 40px;
    &--contact-us
        margin-left: auto;

@import 'header.sass';
@import 'slider-box.sass';
@import 'services.sass';
@import 'about_us.sass';
@import 'with_us.sass';
@import 'feedback.sass';
@import 'contact_us.sass';
@import 'slider.sass';
