$blue: #005FA3
$white: #ffffff
$black: #000000
$gray: #BDBDBD
$red: #ec0d0dbd
$green: #31da22
$brown: #ec8b0dbd

.container
	display: block
	width: 57vw
	height: 100%
	margin: 0 auto

.h1
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 43px;
	color: $white
	display: block
	&--p50
		padding-top: 50px

.button
	// margin-top: 30px;
	background-color: rgba(255,255,255, 0.2)
	display: block
	width: 270px
	height: 60px
	font-family: Lato
	font-style: normal
	font-weight: normal
	font-size: 18px
	line-height: 25px
	text-align: center
	color: #FFFFFF
	border: none
	border-radius: 5px
	&:focus
		outline: none
	&_header
		margin-top: 80px
	&--white
	margin-top: 40px;
	&--contact-us
		margin-left: auto;


.mobile_button
		display: block
		position: absolute
		left: -40px
		top: 30px
		transform: translateY(-50%)
		width: 26px
		height: 12px
		transition: 0.5s all
		span 
			display: block 
			height: 2px
			width: 100%
			background-color: $gray 
			margin-bottom: 4px
			transition: 0.5s all
			// border: 1px solid $black
		&__active
			left: 70%
			transition: 0.5s all
			span 
				margin-bottom: -2px 
				&:nth-child(1)
					transform: translateY(3px) rotate(-45deg)
				&:nth-child(2)
					display: none
				&:nth-child(3)
					transform: translateY(3px) rotate(45deg)

.mobile_menu
	position: fixed
	flex-direction: column
	justify-content: center
	align-items: center
	top: 0
	right: -50%
	width: 50%
	height: 100vh
	padding: 50px 15px
	background-color: rgba(0,0,0, .8)
	transition: 0.6s all
	z-index: 1
	&__active 
		right: 0
	&__item 
		padding-right: 0
		border: none
		margin: 10px 0
	&__link 
		font-size: 20px
@import 'header.sass';
@import 'slider-box.sass';
@import 'services.sass';
@import 'about_us.sass';
@import 'with_us.sass';
@import 'feedback.sass';
@import 'contact_us.sass';
@import 'slider.sass';
@import 'media.sass';